In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("mob.csv")
df

   MobileID     MobileName    Brand  RAM   Processor   Price
0         1       Iphone-X    Apple    4         A13   70000
1         2      Iphone-XR    Apple    3         A13   50000
2         3            S20  Samsung   12  Exynox-900  100000
3         4            A71  Samsung    8  Exynox-900   40000
4         5            OP8  Oneplus   12       SP865   50000
5         6         OP8pro  Oneplus   12       SP865   60000
6         7          Reno3     Oppo    8       SP855   30000
7         8          FindX     Oppo   12       SP865   50000
8         9  RedmiNote8Pro       MI    8       SP855   20000
9        10  RedmiNote9Pro       MI    8       SP865   30000

In [3]:
from sklearn.preprocessing  import LabelEncoder

In [4]:
le=LabelEncoder()

In [5]:
df["Processor_n"]=le.fit_transform(df["Processor"])
df["Brand_n"]=le.fit_transform(df["Brand"])
df

,MobileID,MobileName,Brand,RAM,Processor,Price,Processor_n,Brand_n
0,1,Iphone-X,Apple,4,A13,70000,0,0
1,2,Iphone-XR,Apple,3,A13,50000,0,0
2,3,S20,Samsung,12,Exynox-900,100000,1,4
3,4,A71,Samsung,8,Exynox-900,40000,1,4
4,5,OP8,Oneplus,12,SP865,50000,3,2
5,6,OP8pro,Oneplus,12,SP865,60000,3,2
6,7,Reno3,Oppo,8,SP855,30000,2,3
7,8,FindX,Oppo,12,SP865,50000,3,3
8,9,RedmiNote8Pro,MI,8,SP855,20000,2,1
9,10,RedmiNote9Pro,MI,8,SP865,30000,3,1

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
model=LinearRegression()

In [8]:
model.fit(df[["RAM","Processor_n","Brand_n"]],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
model.predict([[7,2,0]])

array([41641.59792981])